:host {
    display: block;
    padding: 20px;
    margin: 20px;
    border: 3px solid #403;
    overflow: hidden;
}

:host div>div {
    float: left;
    clear: left;
    width: 70%;
}

:host div>button {
    float: left;
    width: 10%;
}