<div class="container">
    <div class="row">
        <div class="col">
            <!--i18n: Home text|Home text@@HomeText -->
            Welcome Home!
            <!--/i18n-->
            <img src="https://pbs.twimg.com/profile_images/829960966/bookcase_400x400.png" i18n-title="Home page book logo title@@HomeLogoTitle" title="Book Logo" />
            <!-- i18n: Welcome Text|Welcome text in home page@@HomeWelcomeText -->
            Hello {bitches, plural, =0 {no bitches} =1 {one bitch} =2 {two bitches} other {a bitch pack}}
            <!-- /i18n -->
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span i18n="User gender@@HomeUserGender">Current user is {gender, select, m {male} f {female}}
      </span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span i18n="Rest of users info in home page@@HomeUsersInfo">
        Here we have: {users.length, plural, =0 {no one} =1 {one {gender, select, m {man} f {woman}}} other {{{users.length}} {gender,
        select, m {men} f {women}}} }
      </span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button (click)="setLogged(true)">Log In</button>
            <button (click)="setLogged(false)">Log Out</button>
        </div>
    </div>
</div>