<form #userForm="ngForm" (ngSubmit)="submit(userForm)">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" #userName forbiddenName="Jordi" [(ngModel)]="model.name" name="name" id="name" required/>
        <div [hidden]="userForm.controls.name?.valid || userForm.controls.name?.errors?.forbiddenName || userForm.controls.name?.untouched" class="alert alert-danger">
            User is required
        </div>
        <div [hidden]="userForm.controls.name?.valid || userForm.controls.name?.errors?.required || userForm.controls.name?.untouched" class="alert alert-danger">
            This user name is forbidden by the constitution
        </div>
        {{userForm.controls.name?.errors | json}}<br/> {{ userForm.controls.name?.valid }}
    </div>
    <div class="form-group">
        <label for="name">Last Name</label>
        <input class="form-control" #lastName [(ngModel)]="model.lastname" name="lastname" id="lastname" required/>
        <div [hidden]="userForm.controls.lastname?.valid || userForm.controls.lastname?.untouched" class="alert alert-danger">
            Last Name is required
        </div>
    </div>
    <div class="form-group">
        <label for="roleId">User Role</label>
        <select id="roleId" name="roleId" #roleId class="form-control" [(ngModel)]="model.roleId" required>
          <option *ngFor="let role of userRoles" [value]="role.id">{{role.name}}</option>
        </select>
        <div [hidden]="userForm.controls.roleId?.valid || userForm.controls.roleId?.untouched" class="alert alert-danger">
            User role is required
        </div>
    </div>
    <button [disabled]="userForm.form.invalid" class="btn btn-primary">Submit</button> {{ model | json}}
</form>